
#mastermind .color {
    display: inline;
    float: left;
    width: 5em;
    height: 5em;
    list-style-type: none;
    border: 1px solid black;
}

#mastermind .guesses, #mastermind .color-guess {
    clear: both;
}

#mastermind .guesses .color-guess {
    padding: 5px 0 0 40px;
}

#mastermind .guesses .color-guess-label {
    padding-left: 10px;
}
